body {
    margin: 0px;
}

.paci {
    font-family: 'Pacifico', cursive;
}

.ssp-300 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.ssp-400 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.ssp-600 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    position: relative;
}

.logo {
    height: 55px;
    width: 200px;
    border-radius: 500px;
    background-color: #303f9f;
    color: white;
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-server {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid #cfd8dc;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cr {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #303f9f;
}

.er {
    position: absolute;
    bottom: 20px;
    height: 50px;
    width: 85%;
    background-color: #303f9f;
    color: white;
    border-radius: 500px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.er:focus {
    outline: none;
}

.join-room {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.inpt {
    margin: 10px;
    height: 35px;
    width: 300px;
    border: 0px;
    border-bottom: 2px solid #303f9f;
    font-size: 16px;
}

.inpt:focus {
    outline: none;
}

.enter-room {
    height: 40px;
    width: 320px;
    color:#303f9f;
    margin-top: 25px;
    border: 2px solid #303f9f;
    border-radius: 500px;
    background-color: white;
    font-size: 17px;
}

.enter-room:focus {
    outline: none;
}
